.game-container {
    /* Стили контейнера */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #0e1a2b;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
}

.cell {
    width: 55px;
    height: 55px;
    background-color: #ffcc00; /* Золотой цвет */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    -webkit-mask-image: url('shield.svg');
    mask-image: url('shield.svg');
    -webkit-mask-size: cover;
    mask-size: cover;
    cursor: pointer;
}

.mine {
    /* Стиль для ячейки с миной */
    background-color: red;
}

.safe {
    /* Стиль для безопасной ячейки */
    background-color: green;
}
